
body {
    font-family: 'Arial', sans-serif;
}


h1 {
    text-align: center;
    margin: 50px;
}


#barra-entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}


#pantalla {
    width: 400px;
    height: 40px;
    padding: 5px 10px;
    font-size: 1.5rem;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f4f4f4;
}


/* Botón enviar */
#btn-enviar {
    width: 100px;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #018225;
    color: white;
    cursor: pointer;
}


#btn-enviar:hover {
    background-color: #00691e;
}


/* Teclados */
#contenedor-teclados {
    display: flex;
    justify-content: center;
    gap: 50px;
}


#teclado-alfabetico {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    gap: 10px;
}


#teclado-numerico {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
}


.tecla {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: solid 2px #515151;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}


.tecla:hover {
    background-color: #c1c1c1;
}

/* Botón borrar */
#btn-borrar {
    width: 100px;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #d12f2f;
    color: white;
    cursor: pointer;
}

#btn-borrar:hover {
    background-color: #a62222;
}