.figure1{
    border: 1px solid black;
    width: 150px;
    padding-bottom: 100px;
}
.figure2{
    border: 5px solid black;
    padding: 20px;
}
.figure3{
    border: 1px solid salmon;
    margin: 20px;
}
.figure4{
    border: 2px solid turquoise;
    border-radius: 10px;
    width: 30%;
    padding-bottom: 80px;
}
.figure5{
    border: 2px solid black;
    padding-left: 30px;
}
.figure6{
    border: 1px solid black;
    margin-left: 30px;
}
.figure7{
    border: 6px solid turquoise;
    border-radius: 10px;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    margin-left: 580px;
}